<h2>Bienvenido USUARIO: {{user}} --- ROL: {{rol}} --- <a href="/cart/{{cid}}">IR AL CARRITO</a> -- <a href="/api/sessions/logout">LOGOUT</a></h2>
{{#if isValid}}
  <div>
      {{#each docs}}
        <div>
          <h3>Producto: {{this.title}} &nbsp; Precio: {{this.price}}</h3>
          <p>Categoría: {{this.category}} &nbsp; Stock: {{this.stock}} &nbsp; Código: {{this.code}}</p>
          <p>Descripción: {{this.description}}</p>
          <button id={{this.id}} onclick="addToCart('{{this.id}}', '{{../cid}}')">Agregar al carrito</button>
        </div>
        <hr/>
        <br/>
      {{/each}}
  </div>
  <br/>
  <div>
    {{#if hasPrevPage}}
      <a href={{this.prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
    {{#if hasNextPage}}
      <a href={{this.nextLink}}>Siguiente >></a>
    {{/if}} 
  </div>
{{else}}
  <h1>No hay PRODUCTOS para mostrar</h1>
{{/if}}

<script src="/js/script.js"></script>